<header class="bloghead">
    <dev class="authorheader">
        <a href="/">
            <img alt="My Avatar" src="/assets/img/uts-logo.jpg"/>
        </a>
        <dev class="blogtitle">
            <h2><a href="/">{{ site.data.blog.title }}</a></h2>
            <h5> {{ site.data.blog.description }} </h5>
        </dev>
    </dev>

    <nav class="menu" role="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/people.html">People</a></li>
            <li>|</li>
            <li><a href="/">Research</a></li>
            <li>|</li>
            <li><a target="/" href="/">Publications</a></li>
            <li>|</li>
            <li><a href="/">Openings</a></li>
            <li>|</li>
            <li><a target="/" href="/"> Contact</a></li>
        </ul>
    </nav>
</header>
